# Visual Studio cache
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
*.cache

# NuGet
packages/
*.nupkg
project.lock.json
project.assets.json

# Others
*.db
*.db-*
